# C
*.c linguist-language=C
*.h linguist-language=C

# C++
*.cpp linguist-language=C++
*.cc linguist-language=C++
*.cxx linguist-language=C++
*.hpp linguist-language=C++
*.hh linguist-language=C++
*.hxx linguist-language=C++

* text=auto

*.cpp text eol=lf
*.c text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cc text eol=lf
*.cxx text eol=lf
